# 02 数据类型

## 2.1 变量命名

好的变量命名习惯：  
（1）使用有意义的名称以提高代码可读性  
（2）使用下划线分割单词：student_number_of_the_class  
（3）使用驼峰命名法：PlayStation（大写）,iPhone（小写）

常量和变量都有对应的类型：
- 常量的类型固定不变
- 变量的类型可变，取决于所存的值

类型不同，Python提供的操作也不同：
- 对于两个数字而言，加号表示加法
- 对于两个字符串而言，加号表示拼接

In [1]:
my_int = 1+4
print(my_int)

5

In [3]:
my_str = 'Hello' + ' World!'
print(my_str)

Hello World!

## 2.2 类型

类型很重要。Python规定了每种类型的使用方法，有些操作是无法执行的。

In [5]:
my_str = 'Hello' + ' World!'
my_str = my_str + 1

TypeError: can only concatenate str (not "int") to str

使用`type()`获取常量和变量的类型。

In [6]:
type(my_str)

str

In [8]:
type(1)

int

In [9]:
type(1.0)

float

### 类型转换
Python会执行一些默认的类型转换。
- 表达式中既有int又有float时，结果为float
- 两个整数之间的除法，结果为float

可以使用`int()`和`float()`进行类型转换

In [10]:
type(1.0 * 5)

float

In [12]:
x = 10 / 2
type(x)

float

In [13]:
x = int(x)
type(x)

int

In [14]:
x = float(x)
type(x)

float

数字和字符串之间的类型转换：  
使用`int()`、`float()`、`str()`，将类型转换为int、float和string。  、

字符串中包含非数字字符时，转换将出错。

In [16]:
my_str = '123'
type(my_str)

str

In [18]:
print(my_str + 1)

TypeError: can only concatenate str (not "int") to str

In [21]:
my_str = int(my_str)
type(my_str)

int

In [22]:
print(my_str + 1)

124

In [23]:
my_str = 'Hello World!'
my_str = int(my_str)

ValueError: invalid literal for int() with base 10: 'Hello World!'

转换之后，有时需要保留原始数据。

In [24]:
my_str = '123'
my_str = int(my_str)
print(my_str + 1)

124

In [25]:
my_str = '123'
print(int(my_str) + 1)

124

## 2.3 用户输入
使用`input()`输入信息时，
- Python会停下来
- 等待用户输入并回车

输入的内容会存到一个字符串中。

In [26]:
name = input('Who are you?\n')

Who are you?
Tim

In [27]:
my_int = input('Input a number:')

Input a number:7

In [28]:
type(my_int)

str

将用户输入转换为数字并计算。

In [30]:
weight = float(input('Weight of apple:'))

Weight of apple:0.6

In [31]:
price = float(input('Price of apple:'))

Price of apple:12

In [32]:
cost = weight * price 
print(cost)

7.199999999999999

**格式化**  控制小数点的位数

In [45]:
print('{:.3f}'.format(cost))

7.200

In [46]:
print('{:.2f}'.format(cost))

7.20

## 2.4 注释

以`#`开头的代码行为注释
- 可以在注释中写一些说明信息
- 被注释的代码行不会运行
- 可以把注释理解为关掉代码
- 使用三引号进行多行注释（在Python脚本中）

In [48]:
# A Wonderful Code is Coming!
print('A Wonderful Code')

A Wonderful Code

In [49]:
print('print this message')

print this message

In [50]:
#print('print this message')